<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="nav-header">
            <a href="#" class="navbar-brand">Student Organizer</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><%= @login.nil? ? "Log in" : "Log out"%></a></li>
        </ul>
        <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
            </div>
        </form>
    </div>
</div>
